#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  width: 65vw;
  position: absolute;
  right: 0;
  top: 12vh;
}

#top-bar, #top-bar header {
  margin: 0 !important;
  height: 5vh;
}

#top-bar {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

#top-bar::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  background-color: var(--purple);
  min-width: 200px;
  min-height: 25px;
  mask-image: var(--logo);
  -webkit-mask-image: var(--logo);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  z-index: 6;
}

#top-bar header {
  background-color: transparent !important;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media screen and (min-width: 1480px) {
  .tip, .course-section .tip, .tip span {
    width: 100% !important;
    max-width: 1000px !important;
  }

  /* .course-section .tip {
    background-color: blue !important;
  } */

  .course-section h2 {
    position: absolute;
    right: 50px;
  }
}

@media screen and (max-width: 880px),  screen and (max-height: 500px), screen and (orientation: portrait){
  body::before {
    content: "Please visit us on a screen";
    background-color: var(--violet);
    height: 50vh;
    width: 100vw;
    z-index: 5;
    top: 0; left: 0;
    position: fixed;
      display: flex;
      justify-items: center;
      align-items: flex-end;
      padding-left: 20px;
      /* text-align: center; */
    }
    body::after {
    padding-left: 20px;
    content: "with a larger resolution, thank you!";
    background-color:  var(--violet);
    height: 50vh;
    width: 100vw;
    z-index: 5;
    bottom: 0; left: 0;
    position: fixed;
      display: flex;
      /* justify-items: center; */
      align-items: flex-start;
      text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
	:root {
    --purple: #ffffff;
    --white: #3c2157;
  }
  
  section, .course-section, main, aside, #top-bar, #sidebar, .bg-white, html, .left {
    background: #3c2157 !important;
  }
  
  #sidebar .right .back  {
    color: #ffffff !important;
  }
  
  #sidebar .mid, #sidebar .right, #riser span {
    color: #3c2157 !important;
  }
  
  svg.icon {
    fill: #3c2157 !important;
  }
  
  .footer { display: none; }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


